<article class="message">
    <div class="message-body">
        {{comment}}
        <p class="has-text-right"><strong>-
                {{user.username}},
                {{format_time createdAt}}</strong></p>
    </div>
</article>