<article class="message">
    <div class="message-body">
        {{dataValues.comment}}
        <p class="has-text-right"><strong>-
                {{dataValues.user.dataValues.username}},
                {{format_time dataValues.createdAt}}</strong></p>
    </div>
</article>