<section class="hero has-background-grey-lighter">
    <div class="hero-body">
        <div class="container">
            <div class="columns is-centered">
                <div class="column">
                    <form action="" class="box">
                        <label class="label is-large" for="" class="label">Edit
                            Blog Post</label>
                        <div class="field">
                            <label for="" class="label">Subject / Title</label>
                            <div class="control">
                                <input
                                    type="text"
                                    placeholder="10 Ways Express.js Makes Creating REST API's Easier"
                                    class="input subject-input"
                                    value="{{postData.title}}"
                                    required
                                />
                            </div>
                        </div>
                        <div class="field-body">
                            <div class="field">
                                <label for="" class="label">Content</label>
                                <div class="control">
                                    <textarea
                                        class="textarea content-input"
                                        placeholder="Building an API is a rewarding way to allow data to flow between apps and create compelling functionality in your latest project without having to start from scratch..."
                                        required
                                    >{{postData.content}}</textarea>
                                </div>
                            </div>
                        </div>
                        <div class="field is-grouped is-grouped-right mt-3">
                            <button class="button is-success edit-submit">
                                Submit
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="current-post-id is-invisible">{{postData.id}}</div>
</section>
<script src="/js/edit.js"></script>