<section class="hero has-background-grey-lighter is-medium">
    <div class="hero-body">
        <div class="container">
            <div class="columns is-centered">
                <div class="column is-5-tablet is-4-desktop is-3-widescreen">
                    <article class="message is-info">
                        <div class="message-body">
                            <strong>You have been logged out.</strong>
                            <p class="mt-3"><a href="/">Click here</a>
                                to return to the homepage.</p>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </div>
</section>
<script src="/js/logout.js"></script>