<section class="hero ">
  <div class="hero-body">
    <div class="container">
      <div class="columns">
        <div class="column is-8 is-offset-2">
          <figure class="image is-16by9">
            <img src="../images/first-post.png" alt="">
          </figure>
        </div>
      </div>
      <section class="section">
        <div class="columns">
          <div class="column is-8 is-offset-2">
            <div class="content is-medium">
              <h2 class="subtitle is-4">September 9, 2021 by Username</h2>
              <h1 class="title">Post Page!!!</h1>
              <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dignissimos doloribus sunt quidem vero sint,
                quisquam cumque hic inventore vel fuga optio molestias soluta. Earum eos, maxime sit ab debitis
                molestias?</p>
            </div>
          </div>
        </div>
      </section>
      <div class="is-divider"></div>
      <div class="column is-8 is-offset-2">
        <div class="field is-horizontal">
          <div class="field-label is-normal">
            <label class="label">Comment:</label>
          </div>
          <div class="field-body">
            <div class="field">
              <div class="control">
                <textarea class="textarea" placeholder="What are your thoughts on this blog post?"></textarea>
              </div>
            </div>
          </div>
        </div>
        <div class="field is-horizontal">
          <div class="field-label">
            <!-- Left empty for spacing -->
          </div>
          <div class="field-body">
            <div class="field">
              <div class="control">
                <button class="button is-success">
                  Submit
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="column is-8 is-offset-2">
        {{> comment}}
        {{> comment}}
        {{> comment}}
      </div>
    </div>
  </div>
</section>