<section class="hero has-background-grey-lighter is-medium">
    <div class="hero-body">
        <div class="container">
            <div class="columns is-centered">
                <div class="column is-10-tablet is-8-desktop is-6-widescreen">
                    <form class="box">
                        <div class="field">
                            <label class="label">Username</label>
                            <div class="control has-icons-left">
                                <input
                                    type="email"
                                    placeholder="e.g. TechSmith210"
                                    class="input username-input"
                                    required
                                />
                                <span class="icon is-small is-left">
                                    <i class="fa fa-user"></i>
                                </span>
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">Email</label>
                            <div class="control has-icons-left">
                                <input
                                    type="email"
                                    placeholder="e.g. techsmith210@gmail.com"
                                    class="input email-input"
                                    required
                                />
                                <span class="icon is-small is-left">
                                    <i class="fa fa-envelope"></i>
                                </span>
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">Password</label>
                            <div class="control has-icons-left">
                                <input
                                    type="password"
                                    placeholder="******* (minimum 6 characters)"
                                    class="input password-input"
                                    required
                                />
                                <span class="icon is-small is-left">
                                    <i class="fa fa-lock"></i>
                                </span>
                            </div>
                        </div>
                        <div class="field is-grouped is-grouped-right">
                            <button class="button is-success signup-button">
                                Sign up
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<script src="/js/signup.js"></script>