<div>
  <div>
    <h1>Directly from DB</h1>
    {{id}}
    and
    {{test_name}}
  </div>
  <div>
    <h1>Called via API</h1>
    <p class="myTest"></p>
  </div>
</div>
<script src='/js/test.js'></script>
