nav.navbar {
    height: 6rem !important;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .1), 0 1px 2px 0 rgba(0, 0, 0, .06) !important;
}

.navbar-item img {
    max-height: 75%;
}

@media only screen and (max-width: 1025px) {
    .navbar-item img {
        max-height: 3em;
    }
}